* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-color: #eec962;
  min-width: 350px;
  max-width: 1200px;
}

body {
  font-family: 'Tiro Bangla', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}
.banner{
    margin-right: 200px;
    height: 200px;
    min-width:200px;
    max-width:3000px ;
}

.login {
margin-left: 50px;
    width:100px;
    height:50px;
    text-align:left;
}

.register{
    margin-left: 50px;
    width: 100px;
    height:50px;
    text-align:left;
     display: flex;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: darkblue;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

h3 {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: darkblue;
}

.button1 {
  /* overwrites browser defaults and resets the border */
  border: 1px;
  /* takes the font from the outer container */
  font-family: times new roman;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #cc9900;
  color: white;
  text-decoration: none;
  /*adds spacing to the button  */
  padding: 10px;
  border-radius: 3px;
  /*  the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0.3);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  clear: both;
}

button {
  /* overwrites browser defaults and resets the border */
  border: 1px;
  /* takes the font from the outer container */
  font-family: times new roman;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #cc9900;
  color: white;
  text-decoration: none;
  /*adds spacing to the button  */
  padding: 10px;
  border-radius: 3px;
  /*  the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0.3);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  clear: both;
}

a {
  color: #cc0000;
}

a:visited {
  /* visited link */
  color: #05676e;
}

a:active {
  /* selected link */
  color: #489c79;
}

button:hover,
button:focus,
.button1:hover,
.button1:focus {

  cursor: pointer;
  /* reduces the opacity of the button to 60% */
  opacity: 0.60;
  border-radius: 50%;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}



.header {
  margin: 0 auto;
  border: 2px solid blue;
  padding:20px;
  background-color: darkblue;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: center;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}









.main-page {
  text-align: center;
}

.footer-page {
  text-align: center;
  border: 2px solid black;
  background-color: burlywood;
  clear: both;
}

.footer-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form {
  text-align: center;
  display: -ms-inline-grid;
  display: inline-grid;
}

#contact {
  text-align: center;
  text-decoration: underline;
}

.products {
  text-align: center;
  margin: 0 auto;
}

.products {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10px auto 10px auto;
  grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 10px;
}



.img1 {
  border: 2px solid black;
  clear: both;
  border-radius: 50%;
}

.grid-item {
  background-color: lightgreen;
  text-align: center;
  border: 1px solid black;
  padding-top: 10PX;
}

.social-media {
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

@media all and (max-width:580px) {
  .products {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width:580px) and (max-width:750px) {
  .products {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width:750px) {
  .products {
    grid-gap: 10px;
  }

  .grid-item {
    grid-column: auto;
    grid-row: auto;
  }

  h1 {
    font-size: 22px;
  }
}


.img2 {
  -webkit-animation: bounce 10s, flying 10s 10s linear, flyingOut 5s 10s;
  animation: bounce 10s, flying 10s 10s linear, flyingOut 5s 10s;
  width: 150px;
  margin: 0 auto;
  display: block;
}
